:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --line-height: 1.6em;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  line-height: 1.6em;
}

@font-face {
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.ttf);
  line-height: 1.6em;
}

h1, h2, h3, h4, h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size:  34px;
}

h4 {
  font-size: 60px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
}

/* SECTION 1 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}
  
.header::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.header-section-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}
  
.h1-header {
  z-index: 1;
  font-family: "Neucha";
  position: relative;
}
  
.orange {
  color: var(--main);
}
  
.black {
  color: var(--dark);
}
  
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
}
  
.main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 700px;
}

.txt-header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 30px;
  padding-top: 80px;
}
  
.colum-left {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  
.colum-right {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  
.button-header-section {
  background-color: var(--main);
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  margin-left: 570px;
  margin-top: 30px;
}
/* VIDEO-SECTION */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.width-1110px-video {
  width: 1110px;
  padding-top: 100px;
}

.h2-video {
  font-family: "Neucha";
}

.h2-video-black {
  color: var(--dark)
}

.h2-video-orange {
  color: var(--main)
}

.p-video {
  font-family: "Open Sans";
}

.video {
  position: relative;
  margin-top: -30px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  border: 0;
  top: 50px;
}

/* FIVE-DISTROTION-SECTION */

.five-distortion {
  background-color: var(--main-dark);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.width-1110px-five-distortion {
  max-width: 1110px;
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.five-distortion-orange {
  color: var(--main)
}

.five-distortion-white {
  color: var(--white);
}

.card-h2 {
  font-family: "Neucha";
  font-size: 52px;
  width: 350px;
  height: 350px;
}

nav {
  width: 350px;
  height: 350px;
  background-color: var(--light);
  margin-bottom: 20px;
}

.h1_black {
  color: var(--main-dark);
  font-size: 64px;
  line-height: 1;
  font-family: "Neucha";
  margin-bottom: 40px;
}

.h3-orange {
  color: var(--main);
  font-family: "Neucha";
}

.p-five-distortion {
  color: var(--dark);
  font-family: "Open Sans";
  font-size: 16px;
}

.div-card {
  padding: 24px 24px 24px 24px;
}

/* IKEA-SECTION */


.IKEA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.IKEA::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.IKEA-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-1.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.text-block {
  margin-left: 30px;
}

.text-block-l {
  margin-right: 30px;
}

.inline {
  position: relative;
  column-count: 2;
  column-gap: 30px;
}

.p-all {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 29px;
}

.h4-dark-all {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  color: var(--dark);
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 400px;
}

.under-h4-all {
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  font-style: normal;
  font-family: "Neucha";
  color: var(--dark);

}

.h5-footer-brown {
  position: relative;
  margin: 100px 0 20px;
}

.h5-white {
  background-color: var(--brown);
  font-family: "Open Sans";
  color: var(--white);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.footer-left {
  margin: 0;
}

.footer-right {
  margin: 0;
}

/* OPTIMIZATION-SECTION */

.optimization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--brown);
}

.optimization::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.optimization-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-2.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
  position: relative;
  max-width: 100%;
}

.inline-white {
  overflow: hidden;
  column-count: 2;
  column-gap: 0px;
}
.p-white-all {
  color: var(--translucent-white);
  font-size: 24px;
  font-family: "Neucha";
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 29px;
}

.h4-white-all {
  color: var(--white);
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 400px;

}

.under-h4-white-all {
  color: var(--white);
  font-size: 34px;
  font-weight: 400;
  line-height: 41px;
  font-style: normal;
  font-family: "Neucha";
}

.h5-footer-white {
  position: relative;
  margin: 100px 0 20px;
}

.h5-brown {
  background-color: var(--white);
  font-family: "Open Sans";
  color: var(--brown);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.column-white {
  column-count: 2;
  column-gap: 30px;
  color: var(--white);
}

.footer-left {
  margin: 0;
}

.footer-right {
  margin: 0;
}

/* DISTORTION-SECTION */

.distortion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.distortion::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.distortion-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-3.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}


.p-distortion {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
}

/* DEPRECATION-SECTION */

.depreciation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--brown);
}

.depreciation::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.depreciation-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-4.img {
  position: relative;
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
  max-width: 100%;
}

.p-depreciation-white {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
  margin-top: 0px;
}

/* PLANNING-ERROR-SECTION */

.planning-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--light);
}

.planning-error::before {
  position: absolute;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.1;
}

.planning-error-1110px {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-5.img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}


.p-planning-error {
  font-size: 24px;
  font-family: "Neucha";
  color: var(--translucent-dark);
  margin-bottom: 0px;
}

/* SECTION-FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-1110px-width {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-column {
  background-color: var(--main-dark);
  column-count: 2;
  padding: 55px 55px 55px 55px;
}

.center {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.footer-column-left {
  font-family: "Neucha";
  color: var(--white);
}

.p-email {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 18px;
  margin-bottom: 0px;
}

.p-column {
  font-family: "Open Sans";
  color: var(--white);
  font-size: 12px;
  margin-top: 0px;
}

.email-button {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.email {
  border: none;
  width: 425px;
  height: 48px;
  padding-left: 15px;

}

.footer-button {
  border: none;
  width: 70px;
  height: 50px;
  background-color: var(--main);
  border: none;
  background-image: url(https://raw.githubusercontent.com/hexlet-components/projects-css-l1-cognitive-biases/78cf2c1aa4757071fdaa945bbd6b72adb59fc38b/images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.a-text {
  color: var(--white);
}

input::-webkit-input-placeholder {
  font-family: "Open Sans";
  opacity: 0.2;
}

.u {
  color: var(--blue);
}


.p3-footer {
  color: var(--blue);
}

.a-text-p3 {
  color: var(--blue);
}

.footer-h3 {
  margin: 0px;
}